

 <div class="row-fluid">
  <div class="col-md-6">
    <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
  </div>
  <div class="col-md-6" style="padding: 15px;">
    <%= link_to new_item_path do %>
      <button class="btn btn-primary">Add a new item</button>
    <% end %>

    <hr>

    <% @items.each do |item| %>

    <div class="row-fluid">
      <%= link_to item_path(item) do %>

          <div class="card" style="border-radius: 3px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= item.photo %>);">
          <div class="card-category"> Available</div>
          <div class="card-description">
            <h2><%= item.title %></h2>
            <p>Very cool tool, the best</p>
          <p><%= item.price %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        </div>

      <% end %>

      </div>

    <% end %>

  </div>
</div>
