

<div class="row-fluid">
  <div class="col-md-6">
    <div id="map" style='width: 100%; height: 600px;'></div>
  </div>
  <div class="col-md-6">
    <%= link_to new_item_path do %>
      <button class="btn btn-primary">Add a new item</button>
    <% end %>

    <hr>



 <% @items.each do |item| %>
  <div class="row-fluid">
    <h2><%= link_to item.title, item %></h2>
    <p><%= item.price %></p>
    <%= link_to "Edit", edit_item_path(item), class: "btn btn-default" %>
    or
    <%= link_to "delete", item, method: :delete, data: { confirm: 'Are you sure?' }  %>
  </div>
<% end %>
  </div>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
<% end %>


